/*ACA COMIENZA EL ESTILO DE AYUDA*/

.form {
  text-align: center;
  word-spacing: 1rem;
}

.label {
  word-spacing: 0;
  font-size: 1.4rem;
  display: block;
  width: 100%;
}

.input,
.textarea {
  padding: 1rem;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid #ccc;
  transition: 0.4s;
}

.input:hover,
.textarea:hover {
  transform: scaleX(1.1);
  border: 1px solid black;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 100px;
}
