.section404 {
  text-transform: uppercase;
  text-decoration: bold;
  background-color: #ddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
