body {
  font-family: "Montserrat";
}

.home {
  animation: desplazamiento 1s;
}

@keyframes desplazamiento {
  0% {
    padding-top: 100%;
  }
  100% {
    padding-top: 0%;
  }
}

@media (max-width: 768px) {
  .btn-rounded {
    display: none;
  }
}
