/*ACA COMIENZA EL ESTILO DE SERVICIOS*/

.tabla {
  padding-top: 6rem;
}

th {
  background-color: rgb(202, 0, 0);
  color: white;
}

td,
th {
  border: 2px solid black;
}

/*ACA COMIENZA EL ESTILO DE FAQ*/

.faq {
  text-transform: uppercase;
  font-weight: bold;
}
